*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu-icons{
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none; 
    height: 80px;
    background-color: rgb(149, 227, 209);
}

.menu-icons li{
    margin-left: 30px;
    font-size: 25px;
}


body {
    margin: 0;
    padding: 0;
}

.main-container{
    background-color: black;
    padding: 19px;
    color: white;
}

nav{
    position: fixed;
}

.nav-link{
    font-size: 1.5rem;
    margin: 0 0.9rem;
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg{
    width: 100%;
    height: 100%;
    /* animation: zoom 3s linear infinite; */
}
/* 
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
} */

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
}


.logo{
    flex-basis: 10%;
}

.logo img{
    width: 120px;
    cursor: pointer;
}

.content{
    width: 60%; 
    margin: 160px auto 0;
    text-align: center;
    color: #fff;
}

.content h1{
     font-size: 60px;
     margin-top: 45px;
}

.content h3{
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height: 25px;
}

.text-zoom{
    font-size: 16px;
    transition: transform 0.3s ease; 
}

.text-zoom:hover{
    transform: scale(1.2);
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 0 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fe7250;
    background: #fe7250;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

button:hover{
    background: transparent;
    border: 2px solid #fff;
}

.btn-2{
    border: 2px solid #fff;
    background: transparent;
}

.btn-2:hover{
    border: 2px solid #fd7250;
    background: #fd7250;
}


.content-part{
    display: flex;
    margin: 45px;
}

.first-content img{
   width: 1400px;
   height: 400px;
}

.second-content{
    margin-left: 35px;
    text-align: justify;
    margin-top: 30px;
}

.footer-content{
    height: 800px;
    background-color: #d8816b;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
}

.label-name{
    font-size: 18px;
    margin-top: 4px;
}

.input-class{
    padding: 8px;
    width: 550px;
    margin-top: 4px;
}

.footer-second-content{
    height: 1000px;
}

.btn-1{
    margin-top: 10px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.center-item{
    margin-top: 60px;
}


